body {
  font-family: sans-serif;
  text-align: center;
}

a, .link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

.badge {
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 80px;
  height: 20px;
  background: blue;

}

.icon {
  display: block;
  background: white;
  width: 20px;
}